/* Base */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.bg-image {
  background-image: url('./images/IMG_20231002_190811.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

/* Navigation */
.navbar {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
}

.navbar-nav .nav-link.active {
  font-weight: 700;
  color: #001a33 !important;
}

/* Main */
main {
  background-color: rgba(255, 255, 255, 0.9);  /* Blanc légèrement transparent */
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 3rem;
  border-radius: 15px;
}

h1, h2 {
  color: #01351b;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2rem;
}

.lead {
  font-weight: 600;
  font-size: 1.2rem;
}

section ul {
  list-style-type: disc;
  padding-left: 20px;
}
/* Image de profil */
img {
  max-width: 50%;
  border: 5px solid #012012;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.rounded-circle {
  border-radius: 50%;
}

/* Call to Action */
#cta .btn {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
}

.btn-primary {
  background-color: #495057;
  border-color: #495057;
}

/* Footer */
footer {
  color: #495057;
}

address strong {
  display: block;
}

/* Contact */
.contact-section {
  padding: 2rem 0;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
  h1 {
      font-size: 2rem;
  }

  h2 {
      font-size: 1.5rem;
  }

  .lead {
      font-size: 1.1rem;
  }
}
